#content
{
	width: 600px;
	height: 400px;
	background-color: #aaa;
}

#topbar ul
{
	border: 1px solid #000;
	margin: 0;
	padding: 0;
	display: inline;
}

#topbar ul li
{
	margin: 0;
	padding: 3px 15px;
	border-left: 1px solid #000;
	list-style: none;
	display: inline;
}

#topbar ul li.first
{
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
}